{% extends "base.html" %}
{% block title %} Tarefas {% endblock %}
{% block content %}
    <h2>Minhas Tarefas</h2>
    <a href="{{ url_for("add_tasks") }}">Adicionar Nova Tarefa</a><br>
    <ul>
        {% for task in tasks %}
            <li>
                <b>{{ task.title }}</b> - {{ task.status }}
                [ <a href="{{ url_for("update_task", id=task.id) }}">Alterar Status</a> ]
                [ <a href="{{ url_for("delete_task", id=task.id) }}">Excluir</a> ]
            </li>
        {% endfor %}
    </ul>
{% endblock %}